.header_page_gamedocs{
	padding-left: 395px !important;
}

#gdd #pageSelectionDiv{
	float: left;
    width: 250px;
    min-height: 400px;
    display: inline-block;
}

#gdd #pageSelectionDiv .docTab, #gdd #pageSelectionDiv .categoryHeader{
	float: left;
    width: 250px;
    position: relative;
    height: 29px;
    background-color: #000;
}

#gdd #pageSelectionDiv .categoryHeader{
	border-top: 3px solid #424242;
    border-bottom: 3px solid #424242;
}

#gdd #pageSelectionDiv .categoryHeader span{
	width: 100%;
    height: 29px;
    text-align: center;
    line-height: 29px;
    color: #42add7;
    float: left;
}

#gdd #pageSelectionDiv .categoryHeader .addCategory{
	height: 15px;
    width: 15px;
    position: absolute;
    background: url(../images/new_task.png);
    right: 7px;
    top: 7px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
}

#gdd #pageSelectionDiv .docTab.base{	display: none;	}
#gdd #pageSelectionDiv .docTab.odd{	background: #353434;	}
#gdd #pageSelectionDiv .docTab.couple{	background: #424242;	}

#gdd #pageSelectionDiv .docTab[row="1"]{ width: 240px !important; padding-left: 10px !important; }
#gdd #pageSelectionDiv .docTab[row="2"]{ width: 230px !important; padding-left: 20px !important; }
#gdd #pageSelectionDiv .docTab[row="3"]{ width: 220px !important; padding-left: 30px !important; }
#gdd #pageSelectionDiv .docTab[row="4"]{ width: 210px !important; padding-left: 40px !important; }

#gdd #pageSelectionDiv .docTab.category .resizeCategory{
	margin: 5px 10px 5px 5px;
    height: 12px;
    width: 12px;
    background-image: url(../images/group_arrows_row1.png);
    float: left;
    background-position-y: -11px;
    background-repeat: no-repeat;
    cursor: pointer;
}

#gdd #pageSelectionDiv .docTab.category .resizeCategory.minimizecategory{
    background-position-y: 0px !important; 
}

#gdd #pageSelectionDiv .docTab.category .categoryName{
	color: #fff;
    float: left;
    font-size: 16px;
    margin-left: 5px;
    margin-top: 6px;
}

#gdd #pageSelectionDiv .docTab.category .categoryNameInput{
	background: none;
    margin-left: 5px;
    border: none;
    float: left;
    width: 166px;
    height: 15px;
    margin-top: 5px;
    color: #fff;
    font-size: 16px;
}

#gdd #pageSelectionDiv .docTab.category .categoryAddContent{
	margin-right: 7px;
    margin-top: 5px;
    height: 15px;
    width: 15px;
    float: right;
    background-image: url(../images/new_task.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

#gdd #pageSelectionDiv .docTab.page{
	cursor: pointer;
}

#gdd{
    padding-top: 40px;
}

#gdd #pageSelectionDiv .docTab.page .pageTabIcon{
    float: left;
    background: url(../images/gamedocs_pageTabIcon.png) no-repeat;
    height: 20px;
    width: 20px;
    margin-top: 4px;
    margin-left: 15px;
    background-position: 4px 0px;
    background-size: 12px 38px;
}

#gdd #pageSelectionDiv .docTab.page .pageTabIcon.active{
    background-position: 4px -20px;
}

#gdd #pageSelectionDiv .docTab.page .pageTabName{
	color: #fff;
    float: left;
    font-size: 14px;
    margin-left: 8px;
    margin-top: 6px;
}

#gdd #pageSelectionDiv .docTab.page .pageTabNameInput{
	background: none;
    margin-left: 15px;
    border: none;
    float: left;
    width: 166px;
    height: 15px;
    margin-top: 5px;
    color: #fff;
    font-size: 14px;
}

#gdd #pageContentDiv{
	float: left;
    width: 1490px;
    min-height: 400px;
    display: inline-block;
}

#gdd #pageContentDiv .noContent{
	width: 100%;
    float: left;
    height: 400px;
    background: #303030;
}

#gdd #pageContentDiv .noContent div{
	width: 315px;
    height: 45px;
    float: left;
    margin-left: 585px;
    margin-top: 175px;
    border: 3px solid #424242;
    border-radius: 34px;
}

#gdd #pageContentDiv .noContent span{
	font-size: 20px;
    color: #737373;
    width: 100%;
    text-align: center;
    float: left;
    line-height: 45px;
}

#gdd #pageContentDiv .withContent{
	width: 100%;
}

#gdd #pageContentDiv .pageHeader{
	float: left;
    display: inline-block;
    width: 100%;
    height: 100px;
    background: #303030;
}

#gdd #pageContentDiv .pageHeader .pageCategory{
	float: left;
    clear: both;
    height: 30px;
    margin-top: 10px;
    margin-left: 25px;
    line-height: 30px;
    font-size: 20px;
    color: #5d5d5d;
}

#gdd #pageContentDiv .pageHeader .pageTitle{
	float: left;
    height: 60px;
    font-size: 36px;
    margin-left: 25px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    clear: left;
}

#gdd #pageContentDiv .pageHeader .pageTitleInput{
	display: none;
	float: left;
    height: 48px;
    font-size: 36px;
    margin-left: 25px;
    text-align: left;
    line-height: 50px;
    border: none;
    color: #fff;
    background: none;
    clear: left;
}

#gdd #pageContentDiv .pageHeader a{
    float: left;
    margin-top: 17px;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#gdd #pageContentDiv .pageHeader .deletePageContent {		background: url(../images/delete.png) center center no-repeat; background-size: 20px;		}
#gdd #pageContentDiv .pageHeader .savePageContent {			   
    background: url(../images/save_page.png) no-repeat;
    background-size: 20px;
    background-position: 0px 1px;
}

#gdd #pageContentDiv .pageHeader .savePageContent.modified{
    background-position: 0px -24px;
}

.cke_chrome{
	border: none !important;
}

#NewDocSelection, #linkSelector{
    height: fit-content;
    background: #313131;
    border-bottom-right-radius: 21px;
    width: fit-content;
    position: absolute;
    border: 2px solid #000000;
    padding: 5px 5px 10px;
}

#NewDocSelection a, #linkSelector a{
    clear: both;
    background: url(../images/plus.png) left center no-repeat;
    padding-left: 24px;
    padding-top: 2px;
    margin: 5px 5px;
    color: #fff;
    float: left;
}

#NewDocSelection a:hover, #linkSelector a:hover{
    color: #ffb2b2;
}

#NewDocSelection .selectorCreatePreset{
    background: url(../images/create.png) left center no-repeat;
    background-size: 15px;
}

#NewDocSelection .selectorDelete{
    background: url(../images/delete.png) left center no-repeat;
    background-size: 15px;
}

#deleteDocPopup{
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000000b3;
    display: none;
}

#deleteDocPopup .deleteDocContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 125px;
    margin-top: -73px;
    margin-left: -150px;
    background-color: #e5e5e5;
    border-radius: 10px;
    border-color: #565656;
}

#deleteDocPopup .deleteDocText {
    float: left;
    width: 100%;
    height: 42px;
    line-height: 45px;
    color: #6b6b6b;
    text-align: center;
    clear: both;
    font-size: 20px;
}

#deleteDocPopup .deleteDocElementTitle{
    float: left;
    width: 100%;
    height: 26px;
    line-height: 25px;
    color: #000000;
    text-align: center;
    clear: both;
    font-size: 22px;
}

#deleteDocPopup button:first-of-type{
    margin-left: 57px !important;
}

#deleteDocPopup button:hover{
    border-color: #000;
    color: #000;
}

#deleteDocPopup button{
    float: left;
    width: 60px;
    height: 35px;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 13px;
    color: #7f6b6b;
    border: 2px solid #9a9a9a;
    border-radius: 16px;
}

.closeSelector{
    height: 10px;
    width: 10px;
    position: absolute;
    cursor: pointer;
    left: 0;
    bottom: 0;
    background-image: url(../images/close_popup.png);
    background-size: 10px;
}