.header_page_gamedocs{
    padding-left: 415px !important;
}

#mainDocsDiv{
    display: none;
}

#gdd #pageSelectionDiv, #gdd #pageSelectionDiv .categoryHeader, #gdd #pageSelectionDiv .docTab{
    width: 360px;
}

#gdd #pageSelectionDiv{
	float: left;
    min-height: 400px;
    display: inline-block;
}

#gdd #pageSelectionDiv .docTab, #gdd #pageSelectionDiv .categoryHeader{
	float: left;
    position: relative;
    height: 30px;
    background-color: #000;
}

#gdd #pageSelectionDiv .categoryHeader{
	border-top: 3px solid #424242;
    border-bottom: 3px solid #424242;
}

#gdd #pageSelectionDiv .categoryHeader span{
	width: 100%;
    height: 29px;
    text-align: center;
    line-height: 29px;
    color: #42add7;
    float: left;
}

#gdd #pageSelectionDiv .categoryHeader .addCategory{
	height: 15px;
    width: 15px;
    position: absolute;
    background: url(../images/new_task.png);
    right: 7px;
    top: 7px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
}

#gdd #pageSelectionDiv .docTab.base{	display: none;	}
#gdd #pageSelectionDiv .docTab.odd{	background: #353434;	}
#gdd #pageSelectionDiv .docTab.couple{	background: #424242;	}

#gdd #pageSelectionDiv .docTab[row="1"]{ width: 350px !important; padding-left: 10px !important; }
#gdd #pageSelectionDiv .docTab[row="2"]{ width: 340px !important; padding-left: 20px !important; }
#gdd #pageSelectionDiv .docTab[row="3"]{ width: 330px !important; padding-left: 30px !important; }
#gdd #pageSelectionDiv .docTab[row="4"]{ width: 320px !important; padding-left: 40px !important; }

#gdd #pageSelectionDiv .docTab.category .arrow{
    margin: 7px 7px 9px 7px;
    height: 12px;
    width: 12px;
    background-image: url(../images/group_arrows_row1.png);
    float: left;
    background-position-y: -11px;
    background-repeat: no-repeat;
    cursor: pointer;
}

#gdd #pageSelectionDiv .docTab.category .arrow.minimizecategory{
    background-position-y: 0px !important; 
}

#gdd #pageSelectionDiv .docTab.category .folder {
    margin: 8px 7px 0px 0px;
    height: 12px;
    width: 12px;
    background-image: url(../images/folder_open.png);
    float: left;
    background-repeat: no-repeat;
    cursor: pointer;
}

#gdd #pageSelectionDiv .docTab.category .folder.minimizecategory{
    background-image: url(../images/folder_close.png);
}

#gdd #pageSelectionDiv .docTab.category .categoryNameInput{
	background: none;
    border: none;
    float: left;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 293px;
    height: 30px;
    padding: 0px;
    color: #fff;
    font-size: 16px;
}

#gdd #pageSelectionDiv .docTab[row="1"].category .categoryNameInput{ width: 283px !important;}
#gdd #pageSelectionDiv .docTab[row="2"].category .categoryNameInput{ width: 273px !important;}
#gdd #pageSelectionDiv .docTab[row="3"].category .categoryNameInput{ width: 263px !important;}
#gdd #pageSelectionDiv .docTab[row="4"].category .categoryNameInput{ width: 253px !important;}

#gdd #pageSelectionDiv .docTab.category .categoryAddContent{
	margin-right: 7px;
    margin-top: 5px;
    height: 15px;
    width: 15px;
    float: right;
    background-image: url(../images/new_task.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

#gdd{
    padding-top: 40px;
}

#gdd #pageSelectionDiv .docTab.page .pageTabIcon{
    cursor: pointer;
    float: left;
    background: url(../images/gamedocs_pageTabIcon.png) no-repeat;
    height: 26px;
    width: 16px;
    margin-top: 2px;
    margin-left: 20px;
    background-position: 0px 0px;
    background-size: 16px 52px;
}

#gdd #pageSelectionDiv .docTab.page.active .pageTabIcon{
    background-position: 0px -27px;
}

#gdd #pageSelectionDiv .docTab.page .pageTabName{
    color: #989898;
    float: left;
    width: 310px;
    background: none;
    padding: 0px;
    border: 0;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    overflow: hidden;
    margin-left: 8px;
}

#gdd #pageSelectionDiv .docTab.page.active .pageTabName{
    color: #fff;
}


#gdd #pageSelectionDiv .docTab.page[row="1"] .pageTabName{ width: 300px; }
#gdd #pageSelectionDiv .docTab.page[row="2"] .pageTabName{ width: 290px; }
#gdd #pageSelectionDiv .docTab.page[row="3"] .pageTabName{ width: 280px; }
#gdd #pageSelectionDiv .docTab.page[row="4"] .pageTabName{ width: 270px; }

#gdd #pageSelectionDiv .docTab.page a{       
    background: url(../images/delete.png) center center no-repeat;
    background-size: 15px;
    top: 7px;
    right: 6px;
    position: absolute;
    width: 15px;
    height: 15px;
}

#gdd #pageSelectionDiv .docTab.page .pageTabNameInput{
	background: none;
    margin-left: 15px;
    border: none;
    float: left;
    width: 166px;
    height: 15px;
    margin-top: 5px;
    color: #fff;
    font-size: 14px;
}

#gdd #pageContentDiv{
	float: left;
    margin-left: 10px;
    width: 1370px;
    min-height: 400px;
    display: inline-block;
    position: fixed;
}

#gdd #pageContentDiv .noContent {
    width: 100%;
    position: relative;
    float: left;
    height: 400px;
    background: #303030;
}

#gdd #pageContentDiv .noContent div{
    position: absolute;
    left: calc(50% - 135px);
    top: 100px;
    width: 315px;
    height: 45px;
    border: 3px solid #424242;
    border-radius: 34px;
}

#gdd #pageContentDiv .noContent span{
	font-size: 20px;
    color: #737373;
    width: 100%;
    text-align: center;
    float: left;
    line-height: 45px;
}

#gdd #pageContentDiv .withContent{
	width: 100%;
}

#gdd #pageContentDiv .pageHeader{
	float: left;
    display: inline-block;
    width: 100%;
    height: 40px;
    background: #303030;
}

#gdd #pageContentDiv .pageHeader .pageCategory{
    float: left;
    height: 40px;
    margin-left: 25px;
    line-height: 40px;
    font-size: 20px;
    color: #5d5d5d;
}

#gdd #pageContentDiv .pageHeader .pageTitle{
    float: left;
    height: 40px;
    font-size: 20px;
    max-width: 500px;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-left: 5px;
    text-align: left;
    line-height: 40px;
    border: none;
    color: #fff;
    background: none;
}

#gdd #pageContentDiv .pageHeader a{
    float: right;
    margin-top: 10px;
    margin-right: 12px;
    width: 35px;
    height: 20px;
    cursor: pointer;
}

#gdd #pageContentDiv .pageHeader .brCaption {       background: url(../images/br-flag.png) center center no-repeat; background-size: 35px;       }
#gdd #pageContentDiv .pageHeader .enCaption {       background: url(../images/en-flag.png) center center no-repeat; background-size: 35px;       }

#gdd #pageContentDiv .pageHeader .selected {
    border: 1px solid #fff;
    margin-top: 9px;
    margin-right: 12px;
}

#gdd #pageContentDiv .pageHeader .savePageContent {			   
    background: url(../images/save_page.png) center no-repeat;
    background-size: 20px;
}
.cke_chrome{
	border: none !important;
}

#NewDocSelection, #linkSelector{
    height: fit-content;
    background: #313131;
    border-bottom-right-radius: 21px;
    width: fit-content;
    position: absolute;
    border: 2px solid #000000;
    padding: 5px 5px 10px;
}

#NewDocSelection a, #linkSelector a{
    clear: both;
    background: url(../images/plus.png) left center no-repeat;
    padding-left: 24px;
    padding-top: 2px;
    margin: 5px 5px;
    color: #fff;
    float: left;
}

#NewDocSelection a:hover, #linkSelector a:hover{
    color: #ffb2b2;
}

#NewDocSelection .selectorCreatePreset{
    background: url(../images/create.png) left center no-repeat;
    background-size: 15px;
}

#NewDocSelection .selectorDelete{
    background: url(../images/delete.png) left center no-repeat;
    background-size: 15px;
}

#deleteDocPopup{
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000000b3;
    display: none;
}

#deleteDocPopup .deleteDocContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 125px;
    margin-top: -73px;
    margin-left: -150px;
    background-color: #e5e5e5;
    border-radius: 10px;
    border-color: #565656;
}

#deleteDocPopup .deleteDocText {
    float: left;
    width: 100%;
    height: 42px;
    line-height: 45px;
    color: #6b6b6b;
    text-align: center;
    clear: both;
    font-size: 20px;
}

#deleteDocPopup .deleteDocElementTitle{
    float: left;
    width: 100%;
    height: 26px;
    line-height: 25px;
    color: #000000;
    text-align: center;
    clear: both;
    font-size: 22px;
}

#deleteDocPopup button:first-of-type{
    margin-left: 57px !important;
}

#deleteDocPopup button:hover{
    border-color: #000;
    color: #000;
}

#deleteDocPopup button{
    float: left;
    width: 60px;
    height: 35px;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 13px;
    color: #7f6b6b;
    border: 2px solid #9a9a9a;
    border-radius: 16px;
}

.closeSelector{
    height: 10px;
    width: 10px;
    position: absolute;
    cursor: pointer;
    left: 0;
    bottom: 0;
    background-image: url(../images/close_popup.png);
    background-size: 10px;
}

@media only screen and (max-width: 1600px) {
    #gdd #pageSelectionDiv, #gdd #pageSelectionDiv .categoryHeader, #gdd #pageSelectionDiv .docTab {
        width: 265px;
    }
    #gdd #pageSelectionDiv .docTab[row="1"]{ width: 255px !important; padding-left: 10px !important; }
    #gdd #pageSelectionDiv .docTab[row="2"]{ width: 245px !important; padding-left: 20px !important; }
    #gdd #pageSelectionDiv .docTab[row="3"]{ width: 235px !important; padding-left: 30px !important; }
    #gdd #pageSelectionDiv .docTab[row="4"]{ width: 225px !important; padding-left: 40px !important; }


    #gdd #pageSelectionDiv .docTab.page .pageTabName {
        width: 195px;
        font-size: 12px;
    }
    #gdd #pageSelectionDiv .docTab.page[row="1"] .pageTabName {  width: 175px;  }
    #gdd #pageSelectionDiv .docTab.page[row="2"] .pageTabName {  width: 165px;  }
    #gdd #pageSelectionDiv .docTab.page[row="3"] .pageTabName {  width: 155px;  }
    #gdd #pageSelectionDiv .docTab.page[row="4"] .pageTabName {  width: 145px;  }

    #gdd #pageSelectionDiv .docTab.category .categoryNameInput {
        width: 198px;
        font-size: 14px;
    }
    #gdd #pageSelectionDiv .docTab[row="1"].category .categoryNameInput { width: 188px !important;   }
    #gdd #pageSelectionDiv .docTab[row="2"].category .categoryNameInput { width: 178px !important;   }
    #gdd #pageSelectionDiv .docTab[row="3"].category .categoryNameInput { width: 168px !important;   }
    #gdd #pageSelectionDiv .docTab[row="4"].category .categoryNameInput { width: 158px !important;   }

    #gdd #pageContentDiv {
        width: 1005px;
    }
}