.base{ display: none !important; }

#granttDiv{
    margin-top: 10px;
}

.content .filterRegistered{
	height: 55px;
    float: left;
}

.content .filterRegistered a{
	text-decoration: none;
	color: #fff;
}

.content .filterRegistered a span{
	float: left;
    margin-top: 21px;
    font-size: 19px;
}

.content .filterRegistered .objIcon{
    margin: 17px 2px 5px 1px;
    float: left;
    background: url("../images/sprint.png") center center no-repeat;
    width: 25px;
    height: 25px;
}

.content .filterRegistered .filterIcon{
	margin: 12px 2px 0px;
    float: left;
    width: 35px;
    height: 35px;
    background: url("../images/filter.png") center center no-repeat;
}

.content .filterGraph .sprintFilter{
    text-decoration: none;
    color: #fff;
    float: left;
}

.content .filterGraph .sprintFilter span{
    float: left;
    margin-top: 22px;
    margin-left: 2px;
    font-size: 17px;
}

.content .filterGraph .objIcon{
    margin: 20px 2px 5px 1px;
    float: left;
    background: url(../images/sprint.png) center center no-repeat;
    width: 17px;
    height: 17px;
}

.content .filterGraph .filterIcon{
    margin-top: 16px;
    float: left;
    width: 25px;
    height: 25px;
    background: url(../images/filter.png) center center no-repeat;
}

.content .filterGraph .dateFilter .dateIcon {
    margin-top: 13px;
    margin-left: 110px;
    margin-right: 10px;
    float: left;
    width: 32px;
    height: 32px;
    background: url(../images/calendar.png) center center no-repeat;
}

.content .filterGraph .dateFilter select, .content .filterGraph .dateFilter span{
    background: none;
    border: none;
    margin-top: 15px;
    font-size: 20px;
    padding: 5px;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #c7c7c7;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: ''
}

.infoTab{
    display: inline-block;
    width: 100%;
}

.infoTab .infoSprintRegistered, .infoTab .infoSprintDisplay, .infoTab .infoDate, .infoTab .infoDate span{
    float: left;
    height: 30px;
    line-height: 30px;
}

.infoTab .infoSprintRegistered, .infoTab .infoSprintDisplay, .infoTab .infoDate{
    border-top: 3px solid #424242;
    border-bottom: 3px solid #424242;
    background-color: #000;
}

.infoTab .infoDate span{
    width: 100%;
    text-align: center;
    color: #fff;
}

.infoTab .infoSprintGraph, .sprintGraph, .content .filterGraph{
    float: left;
    display: inline-block;
    width: 1295px;
    margin-left: 20px;
}

.infoTab .infoSprintRegistered, .sprintRegistered, .content .filterRegistered{
    width: 425px;
}

.infoTab .infoSprintRegistered{
    position: relative;
}

.infoTab .infoSprintRegistered .infoSpriteIcon{    
    float: left;
    margin-left: 15px;
    background: url(../images/sprint.png) center center no-repeat;
    width: 29px;
    height: 29px;
}

.infoTab .infoSprintRegistered span{
    color: #fff;
    font-size: 20px;
    line-height: 29px;
    height: 29px;
}

.infoTab .infoSprintRegistered .addSprint{    
    height: 15px;
    width: 15px;
    position: absolute;
    background: url(../images/new_task.png);
    right: 7px;
    top: 7px;
    background-repeat: no-repeat;
    background-size: contain;
}

.infoTab .infoSprintDisplay, .sprintGraph .sprintDisplay, .content .sprintFilter, .sprintGraph .sprintDisplay span{
    width: 100px;
    float: left;
}

.infoTab .infoSprintDisplay, .sprintGraph .sprintDisplay, .content .sprintFilter{
    margin-right: 10px;
}

.sprintRegistered{
    float: left;
    padding-top: 15px;
    display: inline-block;
    min-height: 600px;
    background-color: #424242;
}

.sprintRegistered .selectableSprints{
    display: block;
    overflow: auto;
    width: 419px;
    height: 350px;
}

.sprintRegistered .selectableSprints::-webkit-scrollbar {
    width: 10px;
}
 
.sprintRegistered .selectableSprints::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.sprintRegistered .selectableSprints::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

@keyframes example {
    0%   {height: 0px;}
    100% {height: 275px;}
}

.animateSprintContent{
    animation-name: example;
    animation-duration: 0.3s;
}

.sprintRegistered .sprint{
    height: 25px;
    float: left;
    margin-left: 10px;
}

.sprintRegistered .sprint .sprintIcon{ 
    float: left;
    margin: 2px 5px;
    background: url(../images/sprint_grantt.png) center center no-repeat;
    background-position: 0px 0px;
    cursor: pointer;
    width: 17px;
    height: 17px;
}

.sprintRegistered .sprint .sprintIcon.active{ 
    background-position: 0px -17px;
}

.sprintRegistered .sprint .sprintTitle{
    float: left;
    width: 75px;
    line-height: 25px;
    height: 25px;
    color: #fff;
}

.sprintRegistered .sprint input{
    float: left;
    font-size: 16px;
    padding-left: 5px;
    width: 128px;
    border: none;
    height: 25px;
    color: #fff;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.sprintRegistered .sprint .sprintStartDate{ background-color: #232323; }
.sprintRegistered .sprint .sprintEndDate{ background-color: #5f0000; }

.sprintRegistered .sprint .sprintSeparation{
    float: left;
    margin: 12px 5px;
    height: 1px;
    width: 5px;
    background-color: #fff;
    box-shadow: 1px 1px #888888;
}

.sprintRegistered .sprintContent{
    float: left;
    margin: 10px 15px;
    width: 390px;
    height: 275px;
    background-color: #5a5a5a;
}

.sprintRegistered .sprintContent .spriteNameDiv{
    width: 100%;
    background-color: #676767;
    height: 60px;
    float: left;
}

.sprintRegistered .sprintContent .spriteNameDiv .spriteNameIcon{ 
    float: left;
    background: url(../images/info.png) center center no-repeat;
    width: 30px;
    height: 60px;
}

.sprintRegistered .sprintContent .spriteNameDiv .spriteName, .sprintRegistered .sprintContent .spriteNameDiv .spriteNameInput{ 
    width: 350px;
    height: 50px;
    padding: 5px;
    float: left;
    line-height: 16px;
    font-size: 16px;
    color: #fff;
    text-align: left;
    justify-content: center;
}

.sprintRegistered .sprintContent .spriteNameDiv .spriteNameInput{ 
    display: none;
    border: none;
    resize: none;
    background: none;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sprintGraph .sprintTab{
    float: left;
    width: 100%;
    display: block;
}

.sprintGraph .sprintTab.odd .sprintDisplay, .sprintGraph .sprintTab.odd .infoDate{          background: #353434; }
.sprintGraph .sprintTab.couple .sprintDisplay, .sprintGraph .sprintTab.couple .infoDate{    background: #424242; }

.sprintGraph .sprintDisplay, .sprintGraph .infoDate, .sprintGraph .sprintDisplay span{
    float: left;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

.sprintGraph .sprintDisplay span{
    color: #fff;
}

.sprintTab .dateDiv{
    float: left;
    position: relative;
    overflow: hidden;
}

.sprintTab .percentageBarHolder{
    height: 15px;
    width: 70px;
    margin-top: 3px;
    border-radius: 10px;
    border: 2px solid #939393;
    position: absolute;
}

.sprintTab .percentageBar{
    height: 75%;
    width: 99.6%;
    border-radius: 10px;
    margin: 2px 0.2%;
    background: #7bff881c;
}
.sprintTab .percentageBarHolder span{
    float: left;
    position: relative;
    bottom: 12px;
    width: 100%;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
}
.sprintTab .percentageBarFill{
    height: 100%;
    width: 0%;
    border-radius: 100px;
    background: #0abd00;
}

@media only screen and (max-width: 1600px) {
    .infoTab .infoSprintRegistered, .sprintRegistered, .content .filterRegistered {
        width: 240px;
    }

    .infoTab .infoSprintGraph, .sprintGraph, .content .filterGraph {
        float: left;
        display: inline-block;
        width: 720px;
        margin-left: 10px;
    }

    .infoTab .infoSprintRegistered, .infoTab .infoSprintDisplay, .infoTab .infoDate, .infoTab .infoDate span {
        font-size: 10px;
    }

    .sprintRegistered .sprint .sprintStartDate {
        clear: left;
    }

    .sprintRegistered .sprint {
        height: 50px;
    }

    .sprintRegistered .sprint input {
        font-size: 13px;
        width: 97px;
    }
    
    .sprintRegistered .selectableSprints {
        width: 250px;
    }

    .sprintRegistered .sprintContent .spriteNameDiv .spriteName, .sprintRegistered .sprintContent .spriteNameDiv .spriteNameInput {
        width: 185px;
        font-size: 12px;
    }

    .sprintRegistered .sprintContent {
        float: left;
        margin: 10px 0px;
        width: 240px;
        height: 275px;
        background-color: #5a5a5a;
    }
}