.headerTitle{
    float: left;
    width: 100%;
    height: 55px;
    text-align: center;
    line-height: 60px;
    text-decoration: underline;
    font-size: 24px;
    color: #d6d6d6;
}

#login{
    position: relative;
    height: 600px;
    text-align: center;
}

#login>img {
    margin-top: 35px;
}

#login .loginBox{
    position: absolute;
    display: block;
    width: 470px;
    left: 50%;
    margin-left: -235px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 2px solid #505050;
    border-top: 0px;
    padding-bottom: 15px;
}

#login .loginBox .block{
    display: block;
    padding: 0px 20px;
}

#login .loginIcon {
    width: 80px;
    height: 80px;
    padding: 0px !important;
    margin: 10px auto;
    background-color: #000;
    border: 1px solid #6d6d6d;
    border-radius: 50%;
    background-position: center;
    background-size: 80px;
    background-image: url(../images/users_image/user_generic.jpg);
}

#login input{
    float: left;
    width: 100%;
    height: 35px;
    text-align: center;
    margin: 5px 0px;
    background: #505050;
    font-size: 20px;
    border: 1px solid #3e3e3e;
    clear: both;
    color: #e8e8e8;
}

#login button{
    display: block;
    margin: 0px auto;
    width: 130px;
    height: 38px;
    text-align: center;
    border: 2px solid #989898;
    color: #fff;
    background-color: #6f6f6f;
    font-size: 18px;
    padding: 0px !important;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#login .loginAlert{
    float: left;
    width: 100%;
    display: none;
}

#login .loginAlert span{
    float: left;
    height: 20px;
    line-height: 20px;
    width: 100%;
    text-align: center;
    color: #ca1e1e
}