#mainProjectDiv .projectCard:nth-child(3n+2) {
    margin: 10px 30px 20px 75px;
}

#mainProjectDiv .projectCard {
    display: block;
    position: relative;
    float: left;
    width: 480px;
    height: 550px;
    background-color: #e5e5e5;
    margin: 10px 30px 20px;
    border-radius: 10px;
    border-color: #565656;
}

#mainProjectDiv .projectCard .projectDelete{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background: url(../images/delete.png) center no-repeat;
    background-size: 20px;
    cursor: pointer;
}

#mainProjectDiv .projectCard .projectCardTitle {
    width: 100%;
    margin: 15px 0px 0px;
    height: 45px;
    color: #6b6b6b;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    background: none;
    border: 0px;
}

#mainProjectDiv .projectCard .projectIcon {
    width: 400px;
    height: 200px;
    background-size: 400px 200px;
    background-color: #000;
    margin: 0px 40px;
    border-radius: 30px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
}

#mainProjectDiv .projectCard .uploadDiv {
    width: fit-content;
    margin: 5px auto;
}

#mainProjectDiv .projectCard .uploadDiv span{
    color: #6b6b6b;
    font-size: 12px;
}

#mainProjectDiv .projectCard .projectUploadBtn{
    width: 115px;
}

#mainProjectDiv .projectCard .projectCardSubTitle {
    float: left;
    padding-left: 25px;
    line-height: 29px;
    color: #6b6b6b;
    text-align: center;
    clear: both;
    font-size: 14px;
    font-weight: bold;
}

#mainProjectDiv .projectCard .projectCardContent{
    float: left;
    clear: both;
    padding-left: 25px;
    color: #949494;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    margin-bottom: 3px;
    line-height: 20px;
}

#mainProjectDiv .projectCard hr{
    width: 90%;
    margin: 0px auto;
}

#mainProjectDiv .projectCard .createProjectIcon {
    float: left;
    width: 100%;
    height: 100%;
    background: url(../images/add_user.png) center center no-repeat;
    cursor: pointer;
}

#mainProjectDiv .projectCard .projectSelection {
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    bottom: -30px;
    left: 0px;
    height: 30px;
    width: 100%;
    color: #6d6d6d;
    z-index: 0;
    line-height: 30px;
    text-align: center;
}

#mainProjectDiv .projectCard .projectSelection.selected{
    color: #ff8f00;
}

#mainProjectDiv .projectCard .userTab {
    float: left;
    width: 440px;
    height: 120px;
    margin-left: 30px;
    margin-bottom: 10px;
    overflow: auto;
}

.userTab {
    float: left;
    width: 250px;
    height: 123px;
    margin-left: 30px;
    margin-bottom: 10px;
    overflow: auto;
}

.userTab::-webkit-scrollbar {
    width: 10px;
}
 
.userTab::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.userTab::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.userTab .userDiv{
    width: 60px;
    height: 60px;
    float: left;
}

.userTab .userDiv .userIcon{
    width: 40px;
    height: 40px;
    background-color: #000;
    float: left;
    margin-left: 10px;
    margin-top: 3px;
    border-radius: 20px;
    cursor: pointer;
    background-size: 40px 40px;
    background-position: center;
}

.userTab .userDiv.addUser .userIcon{
    background: url(../images/add_user.png) center center no-repeat;
    background-size: 40px 40px;
    background-position: center;
}

.userTab .userDiv.selected .userIcon{
    border: 2px solid #44c54c;
    width: 36px;
    height: 36px;
}

.userTab .userDiv .userName{
    float: left;
    width: 100%;
    text-align: center;
    color: #565656;
    font-size: 12px;
    font-weight: bold;
    margin-top: 2px;
}

#userPopup, #addUserPopup{
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000000b3;
    display: none;
}

#userPopup .userPopupContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 215px;
    height: 135px;
    margin-top: -67px;
    margin-left: -107px;
    background-color: #e5e5e5;
    border-radius: 10px;
    border-color: #565656;
}

#userPopup .userPopupContainer .userPopupTitle{
    float: left;
    width: 100%;
    margin: 15px 0px;
    text-align: center;
    line-height: 22px;
    font-size: 22px;
    color: #7d7d7d;
}

#userPopup .userPopupContainer .userPopupSubTitle{
    float: left;
    clear: left;
    margin-left: 15px;
    font-size: 16px;
    margin-bottom: 10px;
}

#userPopup .userPopupContainer .userPopupName{
    float: left;
    margin-left: 5px;
}

#userPopup .userPopupContainer .userPopupType{
    float: left;
    width: 90px;
    margin-left: 10px;
}

#addUserPopup .addUserPopupContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin-top: -150px;
    margin-left: -150px;
    background-color: #e5e5e5;
    border-radius: 10px;
    border-color: #565656;
}

#addUserPopup .title {
    width: 100%;
    float: left;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
}

#addUserPopup .subTitle {
    float: left;
    width: 120px;
    margin-left: 30px;
    height: 26px;
    line-height: 25px;
    color: #c1c1c1;
    font-size: 16px;
}

#addUserPopup .searchInput {
    background-color: transparent;
    background-image: url(../images/search.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: right center;
    border: none;
    padding-right: 35px;
    float: right;
    text-align: right;
    height: 24px;
    width: 110px;
    font-weight: bold;
    color: #757575;
}

#addUserPopup .userTab{
    height: 205px;
}

#addUserPopup .userTab .userDiv.selected .userIcon {
    border: 2px solid #03e000;
}

#addUserPopup hr {
    width: 90%;
}

#deleteDocPopup{
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000000b3;
    display: none;
}

#deleteDocPopup .deleteDocContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 125px;
    margin-top: -73px;
    margin-left: -150px;
    background-color: #e5e5e5;
    border-radius: 10px;
    border-color: #565656;
}

#deleteDocPopup .deleteDocText {
    float: left;
    width: 100%;
    height: 42px;
    line-height: 45px;
    color: #6b6b6b;
    text-align: center;
    clear: both;
    font-size: 20px;
}

#deleteDocPopup .deleteDocElementTitle{
    float: left;
    width: 100%;
    height: 26px;
    line-height: 25px;
    color: #000000;
    text-align: center;
    clear: both;
    font-size: 22px;
}

#deleteDocPopup button:first-of-type{
    margin-left: 57px !important;
}

#deleteDocPopup button:hover{
    border-color: #000;
    color: #000;
}

#deleteDocPopup button{
    float: left;
    width: 60px;
    height: 35px;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 13px;
    color: #7f6b6b;
    border: 2px solid #9a9a9a;
    border-radius: 16px;
}

@media only screen and (max-width: 1600px) {
    #mainProjectDiv .projectCard:nth-child(3n+2) {
        margin: 10px 40px 20px;
    }

    #mainProjectDiv .projectCard {
        position: relative;
        float: left;
        width: 360px;
        height: 495px;
        background-color: #e5e5e5;
        margin: 10px 30px 20px;
        border-radius: 10px;
        border-color: #565656;
    }

    #mainProjectDiv .projectCard .projectIcon {
        margin-left: 30px;
        width: 300px;
        height: 150px;
    }

    #mainProjectDiv .projectCard .projectDelete {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 15px;
        height: 15px;
        background: url(../images/delete.png) center no-repeat;
        background-size: 15px;
        cursor: pointer;
    }

    #mainProjectDiv .projectCard .userTab {
        width: 315px;
        height: 105px;
    }

    .userTab .userDiv {
        width: 50px;
        height: 55px;
        float: left;
    }

    .userTab .userDiv .userIcon {
        width: 30px;
        height: 30px;
        background-color: #000;
        float: left;
        margin-left: 10px;
        margin-top: 3px;
        border-radius: 20px;
        cursor: pointer;
        background-size: 32px;
        background-position: center;
    }

    .userTab .userDiv .userName {
        float: left;
        width: 100%;
        text-align: center;
        color: #565656;
        font-size: 10px;
        font-weight: bold;
        margin-top: 5px;
    }

    #mainProjectDiv .projectCard .projectSelection {
        font-size: 16px;
    }
}