@import url("reset.css");

body{
    background-color: #303030;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a{
    cursor: pointer;
}

header{
    background-color: #505050;
    width: 100%;
    height: 55px;
    display:block;
    overflow:auto;
}

.wrapper{
    width: 1740px;
    margin: 0px auto;
    display:block;
    overflow:auto;
}

header .content{
    height: 55px;
    width: 100%;
    position: relative;
}

.header_page_buttons{
    height: 55px;
}

.header_page_buttons a{
    float: left;
    margin: 0px 3px;
    height: 100%;
}

.header_page_buttons a div{
    height: 100%;
    width: 45px;
    border-radius: 50px;
    background-position: center center;
    background-repeat: no-repeat;
}

.header_page_buttons a .selected#dashboardIcon{ background-image: url("../images/header/header_dashboard_s.png"); }
.header_page_buttons a .selected#projectIcon{ background-image: url("../images/header/header_projects_s.png"); }
.header_page_buttons a .selected#documentationIcon{ background-image: url("../images/header/header_documents_s.png"); }
.header_page_buttons a .selected#tasksIcon{ background-image: url("../images/header/header_tasks_s.png"); }
.header_page_buttons a .selected#granttIcon{ background-image: url("../images/header/header_sprints_S.png"); }
.header_page_buttons a .selected#buildIcon{ background-image: url("../images/header/header_build_s.png"); }
.header_page_buttons a .selected#teamIcon{ background-image: url("../images/header/header_users_s.png"); }
.header_page_buttons a .selected#tagIcon{ background-image: url("../images/header/header_tag_s.png"); }

.header_page_buttons a #dashboardIcon{ background-image: url("../images/header/header_dashboard.png"); }
.header_page_buttons a #projectIcon{ background-image: url("../images/header/header_projects.png"); }
.header_page_buttons a #documentationIcon{ background-image: url("../images/header/header_documents.png"); }
.header_page_buttons a #tasksIcon{ background-image: url("../images/header/header_tasks.png"); }
.header_page_buttons a #granttIcon{ background-image: url("../images/header/header_sprints.png"); }
.header_page_buttons a #buildIcon{ background-image: url("../images/header/header_build.png"); }
.header_page_buttons a #teamIcon{ background-image: url("../images/header/header_users.png"); }
.header_page_buttons a #tagIcon{ background-image: url("../images/header/header_tag.png"); }

.header_page_buttons, .header_user_info{
    display:block;
    overflow:auto;
    position: absolute;
}

.header_user_info{
    right: 0px;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header_page_title{
    height: 55px;
    width: 100%;
    position: absolute;
    text-align: center;
    left: 0px;
    text-decoration: underline;
    color: #fff;
    font-size: 22px;
    line-height: 55px;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header_user_info a{
    text-decoration: none;
    float: left;
}

.header_user_info .img div{
    height: 45px;
    width: 45px;
    border-radius: 50px;
    background-position: center center;
    background-repeat: no-repeat;
}

.header_user_info .header_user_icon_container{ margin: 5px 10px 0px; }
.header_user_info .img .header_user_icon{  background-color: #fff; background-size: 45px; }

.header_user_info .header_user_alert_container{ margin-top: 5px; }
.header_user_info .img .header_user_alert{ background-image: url("../images/header_alert.png"); }

.header_user_info_project div, .header_user_hierarchy div{
    float: right;
    margin-top: 7px;
    margin-left: 5px;
    height: 1px;
    width: 5px;
    background-color: #fff;
    box-shadow: 1px 1px #888888;
}

.header_user_info_project, .header_user_info_name, .header_user_hierarchy{
    margin: 18px 5px 0px;
}

.header_user_info_project, .header_user_info_name{
    color: #fff;
}

.header_user_hierarchy{
    color: #e37e35;
}

.bodyDiv .content{
    display: block;
    width: 100%;
    position: relative;
    min-height: 400px;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

.closePopup{
    height: 20px;
    width: 20px;
    background-image: url(../images/close_popup.png);
    background-size: contain;
    background-position: 0px;
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.saveGroup{
    display: none;
    height: 20px;
    width: 20px;
    background-image: url(../images/save.png);
    background-size: contain;
    background-position: 0px;
    background-repeat: no-repeat;
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

#newGroupPopup{
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000000b3;
    display: none;
}

#newGroupPopup .newGroupPopupContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 120px;
    margin-top: -60px;
    margin-left: -150px;
    background-color: #e5e5e5;
    border-radius: 10px;
    border-color: #565656;
}

#newGroupPopup .newGroupPopupTaskTitle{
    float: left;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #6b6b6b;
    text-align: center;
    clear: both;
    font-size: 20px;
}

#newGroupPopup .newGroupPopupEditingTitle{
    float: left;
    width: 285px;
    padding-left: 15px;
    height: 20px;
    line-height: 20px;
    color: #6b6b6b;
    text-align: left;
    clear: both;
    font-size: 14px;
}

#newGroupPopup hr{
    width: 90%;
}

#newGroupPopup .newGroupPopupContent{
    resize: none;
    margin-left: 15px;
    width: 265px;
    height: 25px;
    display: block;
    background: #b5b5b5;
    border: 1px solid #636363;
    text-align: center;
    font-size: 18px;
}

#newGroupPopup button{
    border-radius: 20px;
    border: 1px solid #000;
    height: 40px;
    width: 110px;
    font-size: 18px;
    margin-top: 8px;
    color: #fff;
    margin-left: 80px;
    background: #00000069;
}

.base{
   display:none !important; 
}

.pageUnavailable {
    position: absolute;
    left: calc(50% - 135px);
    top: 50px;
    width: 270px;
    float: left;
}

.pageUnavailable .unavailableIcon{
    width: 270px;
    height: 242px;
    float: left;
    background-image: url(../images/underwork.png);
    background-size: contain;
}

.pageUnavailable span{
    float: left;
    clear: both;
    width: 100%;
    text-align: center;
    font-size: 26px;
    color: #fff;
    margin: 10px 0px;
}

#loadingScreen{
    z-index: 10;
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000000b3;
    display: inline-block;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#loadingScreen .loadingImage{
    background-image: url(../images/loading.png);
    background-size: 32px;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

#feedbackPopup{
    width: 300px;
    height: 50px;
    border-bottom: 1px solid #1b1b1b;
    border-right: 1px solid #1b1b1b;
    border-left: 1px solid #1b1b1b;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #505050;
    position: fixed;
    top: -300px;
    left: 50%;
    margin-left: -150px;
    z-index: 10;
}

#feedbackPopup.success span{
    background: url(../images/save.png) 25px center no-repeat;
    background-size: 25px;
}

#feedbackPopup.fail span{
    background: url(../images/close_popup.png) 25px center no-repeat;
    background-size: 25px;
}

#feedbackPopup span{
    float: left;
    clear: both;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    width: 250px;
    padding-left: 50px;
    text-align: center;
    line-height: 50px;
    height: 50px;
}

@media only screen and (max-width: 1600px) {
    
    .wrapper{
        width: 1280px;
        margin: 0px auto;
        display:block;
        overflow:auto;
    }

    .header_page_buttons a div{
        width: 40px;
        background-size: 30px;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .header_user_info {
        right: 0px;
        font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 12px;
    }

    .header_user_info_project div, .header_user_hierarchy div {
        float: right;
        margin: 3px 5px 0px;
        height: 1px;
        width: 5px;
        background-color: #fff;
        box-shadow: 1px 1px #888888;
    }

    .header_user_info_project, .header_user_info_name, .header_user_hierarchy {
        margin: 23px 0px 0px;
    }

    .header_user_info .header_user_icon_container {
        margin: 10px 5px 0px;
    }

    .header_user_info .img .header_user_icon {
        background-color: #fff;
        background-size: 40px;
    }

    .header_user_info .header_user_alert_container {
        margin-top: 10px;
    }

    .header_user_info .img .header_user_alert {
        background-image: url(../images/header_alert.png);
        background-size: 17px;
    }

    .header_user_info .img div {
        height: 35px;
        width: 35px;
        border-radius: 50px;
        background-position: center center;
        background-repeat: no-repeat;
    }
}