#mainTagsDiv{
    margin-top: 30px
}

#mainTagsDiv .leftContainer, #mainTagsDiv .rightContainer{
    display: inline-block;
}

#mainTagsDiv .leftContainer{ 
    margin-left: 45px; 
}

#mainTagsDiv .rightContainer{
    margin-left: 50px;
}

#mainTagsDiv .tagsContainer, #mainTagsDiv .selectedTagDiv {
    width: 840px;
    padding: 10px;
    background-color: #e0e0e0;
}

#mainTagsDiv .tagsContainer{
    float: left;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 2px solid #505050;
}

#mainTagsDiv .tagsContainer .filterPopupSubTitle{
    float: left;
    width: 115px;
    margin-left: 8px;
    height: 26px;
    line-height: 25px;
    color: #c1c1c1;
    clear: both;
    font-size: 16px;
}

#mainTagsDiv .tagsContainer .addTag {
    height: 10px;
    width: 10px;
    margin-top: 6px;
    float: left;
    background: url(../images/new_task.png);
    right: 7px;
    top: 7px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
}

#mainTagsDiv .tagsContainer input{
    background-color: transparent;
    background-image: url(../images/search.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: right center;
    border: none;
    padding-right: 35px;
    float: right;
    text-align: right;
    height: 24px;
    width: 135px;
    font-weight: bold;
    color: #757575;
}

#mainTagsDiv .tagsContainer hr{
    float: left;
    width: 90%;
    margin: 4px 5%;
}

#mainTagsDiv .tagsContainer .tagTab{
    margin-top: 7px;
    float: left;
    width: 100%;
    height: 410px;
    margin-bottom: 10px;
    overflow: auto;
}

#mainTagsDiv .tagsContainer .tagTab .tagDiv{
    display: inline-block;
    padding: 3px 6px;
    background-color: #cf47ea;
    border-radius: 8px;
    border: 1px solid #a2a2a2;
    cursor: pointer;
}

.base{
   display:none !important; 
}

#mainTagsDiv .tagsContainer .tagTab .tagDiv .tagChoosen{
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    background-repeat: no-repeat;
    float: left;
}

#mainTagsDiv .tagsContainer .tagTab .tagDiv.selected .tagChoosen{
    background-image: url(../images/status_atlas.png);
    background-size: 10px 80px;
    background-position-y: -70px;
}

#mainTagsDiv .tagsContainer .tagTab .tagDiv .tagName{
    float: left;
    margin-left: 4px;
    height: 12px;
    font-size: 12px;
    line-height: 14px;
}

#mainTagsDiv .tagsContainer .tagTab::-webkit-scrollbar {
    width: 10px;
}
 
#mainTagsDiv .tagsContainer .tagTab::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#mainTagsDiv .tagsContainer .tagTab::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#mainTagsDiv .selectedTagDiv{
    float: left;
    clear: both;
    display: inline-block;
    font-size: 12px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#mainTagsDiv .selectedTagDiv .selectedTagInfo{
    float: left;
    width: 380px;
    margin-left: 10px;
    position: relative;
}

#mainTagsDiv .selectedTagDiv .selectedTitle{
    float: left;
    margin-bottom: 3px;
    height: 26px;
    line-height: 25px;
    color: #c1c1c1;
    font-size: 16px;
}

#mainTagsDiv .selectedTagDiv .selectedName, #mainTagsDiv .selectedTagDiv .selectedColor{
    float: left;
    font-size: 14px;
    color: #696868;
    width: 50px;
    height: 20px;
    line-height: 20px;
}

#mainTagsDiv .selectedTagDiv .selectedName{
    clear: left;
}

#mainTagsDiv .selectedTagDiv .selectedColor{
    margin-left: 40px;
}

#mainTagsDiv .selectedTagInfo .tagDelete {
    display: none;
    float: left;
    clear: right;
    margin-left: 5px;
    margin-top: 3px;
    width: 13px;
    height: 13px;
    background: url(../images/delete.png) center center no-repeat;
    cursor: pointer;
    background-size: 13px;
}

#mainTagsDiv .selectedTagDiv input {
    float: left;
    width: 110px;
    height:15px;
}

/* ////////////////////////// PRESETS */

#mainTagsDiv .presetsContainer {
    float: left;
    border-radius: 20px;
    border-bottom: 2px solid #505050;
    width: 730px;
    padding: 10px;
    background-color: #e0e0e0;
}

#mainTagsDiv .presetsContainer .filterPopupSubTitle{
    float: left;
    width: 115px;
    margin-left: 8px;
    height: 26px;
    line-height: 25px;
    color: #c1c1c1;
    clear: both;
    font-size: 16px;
}

#mainTagsDiv .presetsContainer > input{
    background-color: transparent;
    background-image: url(../images/search.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: right center;
    border: none;
    padding-right: 35px;
    float: right;
    text-align: right;
    height: 24px;
    width: 135px;
    font-weight: bold;
    color: #757575;
}

#mainTagsDiv .presetsContainer hr{
    float: left;
    width: 90%;
    margin: 4px 5%;
}

#mainTagsDiv .presetsContainer .presetTab{
    margin-top: 7px;
    float: left;
    width: 100%;
    height: 480px;
    margin-bottom: 10px;
    overflow: auto;
}

#mainTagsDiv .presetsContainer .presetTab::-webkit-scrollbar {
    width: 10px;
}
 
#mainTagsDiv .presetsContainer .presetTab::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#mainTagsDiv .presetsContainer .presetTab::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#mainTagsDiv .presetsContainer .presetTab .presetDiv{
    float: left;
    width: 100%;
    height: 30px;
}

#mainTagsDiv .presetsContainer .presetTab .presetDiv .presetName{
    float: left;
    margin-left: 10px;
    background: none;
    border: 0px;
    height: 30px;
    width: 360px;
    font-size: 16px;
    font-weight: bold;
    color: #6d6d6d;
}

#mainTagsDiv .presetsContainer .presetTab .presetDiv .presetDelete {
    float: left;
    clear: right;
    margin-left: 5px;
    margin-top: 8px;
    width: 13px;
    height: 13px;
    background: url(../images/delete.png) center center no-repeat;
    cursor: pointer;
    background-size: 13px;
}

@media only screen and (max-width: 1600px) {
    #mainTagsDiv .leftContainer {
        margin-left: 30px;
    }

    #mainTagsDiv .tagsContainer, #mainTagsDiv .selectedTagDiv {
        width: 710px;
    }

    #mainTagsDiv .presetsContainer {
        width: 445px;
    }
}