#mainTaskDiv .content .filter{
	width: 100%;
	height: 55px;
}

#mainTaskDiv .content .filter a{
	text-decoration: none;
	color: #fff;
}

#mainTaskDiv .content .filter a span{
	float: left;
    margin-top: 21px;
    font-size: 19px;
}

#mainTaskDiv .content .filter .objIcon{
	margin: 17px 2px 5px 1px;
   	float: left;
    background: url("../images/sprint.png") center center no-repeat;
    width: 25px;
    height: 25px;
}

#mainTaskDiv .content .filter .filterIcon{
	margin: 12px 2px 0px;
    float: left;
    width: 35px;
    height: 35px;
    background: url("../images/filter.png") center center no-repeat;
}

#mainTaskDiv .content .tasksDiv{
	width: 100%;
    display: inline-block;
}

#mainTaskDiv .content #categoryTab{
	width: 100%;
	height: 35px;
}

#mainTaskDiv .content #categoryTab .category{
    float: left;
    height: 29px;
    border-top: 3px solid #424242;
    border-bottom: 3px solid #424242;
    background-color: #000;
}

#mainTaskDiv .content #categoryTab span{
    float: left;
    text-align: center;
    width: 100%;
    margin-top: 8px;
    font-size: 18px;
    color: #42add7;
}

#mainTaskDiv .content #tasksContent{
    width: 100%;
}

#mainTaskDiv .content #tasksContent, #mainTaskDiv .content #tasksContent .noContent{
    min-height: 500px;
}

#mainTaskDiv .content #tasksContent .noContent{
    width: 100%;
    position: relative;
}

#mainTaskDiv .content #tasksContent .noContent .messageBox{
    width: 455px;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    height: 25px;
    margin-left: -223px;
    margin-top: -13px;
    position: absolute;
    padding: 10px;
    border: 2px solid #505050;
}

#mainTaskDiv .content #tasksContent .noContent .messageBox span{
    color: #fff;
    float: left;
    font-size: 24px;
}

#mainTaskDiv .content #tasksContent .odd .category{
    background: #353434;
}

#mainTaskDiv .content #tasksContent .couple .category{
    background: #424242;
}

#mainTaskDiv .content #tasksContent .category{
    float: left;
    height: 100%;
}

#mainTaskDiv .content .taskTab{
    width: 100%;
    height: 25px;
}

#mainTaskDiv .content .categoryTask{
    width: 290px;
    margin-right: 15px;
    position: relative;
}

#mainTaskDiv .content .categoryTask a{
    height: 15px;
    width: 15px;
    position: absolute;
    background: url(../images/new_task.png);
    right: 7px;
    top: 7px;
    background-repeat: no-repeat;
    background-size: contain;
}

#mainTaskDiv .content .categoryStatus{
    width: 131px;
    margin-right: 17px;
}

#mainTaskDiv .content .categoryPriority{
    width: 174px;
    margin-right: 16px;
}

#mainTaskDiv .content .categorySprint{
    width: 139px;
    margin-right: 16px;
}

#mainTaskDiv .content .categoryMilestone{
    width: 173px;
    margin-right: 16px;
}

#mainTaskDiv .content .categoryReferences{
	width: 121px;
    margin-right: 16px;
}

#mainTaskDiv .content .categoryDrive{
    width: 95px;
    margin-right: 16px;
}

#mainTaskDiv .content .categoryInfo{
	width: 91px;
    margin-right: 16px;
}

#mainTaskDiv .content .categoryTime{
    width: 215px;
    margin-right: 16px;
}

#mainTaskDiv .content .categoryPercentage{
    width: 167px;
}

#mainTaskDiv .content .categoryStatus div{
	float: left;
        margin: 3px 3px 0px 19px;
    height: 18px;
    width: 20px;
    background-image: url(../images/status_atlas.png);
    background-position: 0px 0;
    background-repeat: no-repeat;
}

#mainTaskDiv .content .base{
    display: none;
}

#mainTaskDiv .content .categoryPriority .priorityIcon{
	float: left;
    margin: 2px 2px 0px 23px;
    border-radius: 5px;
    height: 20px;
    width: 20px;
    background: #00ee4e;
}

#mainTaskDiv .content .categorySprint div{
    float: left;
    margin: 4px 3px 0px 28px;
    border-radius: 5px;
    height: 17px;
    width: 17px;
    background-image: url(../images/sprint.png);
    background-repeat: no-repeat;
}

#mainTaskDiv .content .categoryMilestone .milestoneDate{
    height: 100%;
    width: 100%;
    line-height: 25px;
    float: left;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
}

#mainTaskDiv .content .categoryReferences div{
    float: left;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-image: url(../images/link.png);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 40%;
}

#mainTaskDiv .content .categoryDrive div{
    float: left;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-image: url(../images/drive.png);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 40%;
}

#mainTaskDiv .content .categoryInfo div{
    float: left;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-image: url(../images/info.png);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 40%;
}

#mainTaskDiv .content .taskGroup .categoryPercentage .percentageBarHolder{
    height: 15px;
    width: 115px;
    border-radius: 10px;
    border: 2px solid #939393;
    margin: 3px auto;
}

#mainTaskDiv .content .categoryPercentage .percentageBarHolder{
    height: 15px;
    width: 70px;
    border-radius: 10px;
    border: 2px solid #939393;
    margin: 3px auto;
}

#mainTaskDiv .content .categoryPercentage .percentageBar{
    height: 75%;
    width: 96%;
    border-radius: 10px;
    margin: 2px 2%;
    background: #7bff881c;
}

#mainTaskDiv .content .taskTab[row="1"] .percentageBar{
    background: #225b71;
}

#mainTaskDiv .content .taskTab[row="2"] .percentageBar{
    background: #4f2d73;
}

#mainTaskDiv .content .taskTab[row="3"] .percentageBar{
    background: #8a7509;
}

#mainTaskDiv .content .taskTab[row="4"] .percentageBar{
    background: #8a0c0c;
}

#mainTaskDiv .content .taskTab[row="1"] .percentageBarFill{
    background: #0f9ed6;
}

#mainTaskDiv .content .taskTab[row="2"] .percentageBarFill{
    background: #810aff;
}

#mainTaskDiv .content .taskTab[row="3"] .percentageBarFill{
    background: #f7d10c;
}

#mainTaskDiv .content .taskTab[row="4"] .percentageBarFill{
    background: #f70c0c;
}

#mainTaskDiv .content .categoryPercentage .percentageBarHolder span{
    float: left;
    position: relative;
    bottom: 12px;
    width: 100%;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
}

#mainTaskDiv .content .categoryPercentage .percentageBarFill{
    height: 100%;
    width: 0%;
    border-radius: 100px;
    background: #0abd00;
}

#mainTaskDiv .content .categoryTime .timeUndefined {
    float: left;
    height: 100%;
    line-height: 25px;
    width: 100%;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

#mainTaskDiv .content .categoryTime .timeUndefined:hover{
    color: #be4343;
}

#mainTaskDiv .content .categoryTime input{
    float: left;
    background: none;
    border: none;
    width: 30px;
    height: 100%;
    padding: 0px 5px;
    text-align: right;
    font-size: 16px;
    color: #fff;
}

#mainTaskDiv .content .categoryTime .setTime {
    display: none;
    width: 100%;
    height: 100%;
}

#mainTaskDiv .content .categoryTime .setTime input{
    margin-left: 55px;
}

#mainTaskDiv .content .categoryTime .setTime span{
    float: left;
    margin-top: 3px;
}

#mainTaskDiv .content .categoryTime div span{
    color: #fff;
    float: left;
    text-align: left;
    margin-left: 5px;
}

#mainTaskDiv .content .categoryTime .countDiv {
    width: 100%;
    height: 100%;
    line-height: 25px;
    display: block;
}

#mainTaskDiv .content .categoryTime .countDiv .countTime {
    margin-left: 37px;
}

.tasksDiv select{
	padding: 5px;
	-webkit-appearance: none;
    -moz-appearance: none;
    font-weight: bold;
	border: none;
	color: #d2d2d2;
	height: 25px;
    border-radius: 25px;
    font-size: 14px;
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.tasksDiv .odd select{
	background: #353434;
}

.tasksDiv .couple select {
	background: #424242;
}

#mainTaskDiv .content .task .taskUserAssigned{
    margin-left: 25px;
    margin-top: 2px;
    float: left;
    height: 20px;
    background-size: 20px 20px;
    background-position: center center;
    width: 20px;
    background-color: #000;
    border-radius: 25px;
    cursor: pointer;
}


/* Groups */

#mainTaskDiv .content .taskTab .categoryTask .taskDelete {
    position: absolute;
    right: 7px;
    top: 6px;
    width: 13px;
    height: 13px;
    background: url(../images/delete.png) center center no-repeat;
    cursor: pointer;
    background-size: 13px;
}

#mainTaskDiv .content .taskTab .categoryTask .taskNameInput {
    background: none;
    margin-left: 5px;
    border: none;
    float: left;
    width: 166px;
    height: 25px;
    padding: 0px;
    color: #fff;
    font-size: 16px;
}

#mainTaskDiv .content .taskGroup{
    overflow: hidden;
    position: relative;
}

#mainTaskDiv .content .taskGroup .groupBar{
    position: absolute;
    top: 12px;
    left: 325px;
    height: 1px;
    width: 1220px;
    background: #23ef23;
}

#mainTaskDiv .content .taskGroup[row="1"] .groupBar{    background: #0f9ed6;}
#mainTaskDiv .content .taskGroup[row="2"] .groupBar{    background: #810aff;}
#mainTaskDiv .content .taskGroup[row="3"] .groupBar{    background: #f7d10c;}
#mainTaskDiv .content .taskGroup[row="4"] .groupBar{    background: #f70c0c;}

#mainTaskDiv .content .taskGroup .groupResizeTasksTab{
    margin: 6px 3px 5px 5px;
    height: 12px;
    width: 12px;
    background-image: url(../images/group_arrows_row1.png);
    float: left;
    background-position-y: -11px;
    background-repeat: no-repeat;
    cursor: pointer;
}

#mainTaskDiv .content .taskGroup .minimizeGroup{
    background-position-y: 0px !important; 
}

#mainTaskDiv .content .taskGroup .categoryTask span{
    color: #fff;
    float: left;
    font-size: 16px;
    margin-top: 5px;
}

#mainTaskDiv .content .taskGroup .groupAddNewTask{
    margin-right: 7px;
    margin-top: 5px;
    height: 15px;
    width: 15px;
    float: right;
    background-image: url(../images/new_task.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

#mainTaskDiv .content .taskGroup .taskRow1{
    width: 265px !important;
    padding-left: 25px !important;
}

#mainTaskDiv .content .taskGroup .taskRow2{
    width: 240px !important;
    padding-left: 50px !important;
}

#mainTaskDiv .content .taskGroup .taskRow3{
    width: 215px !important;
    padding-left: 75px !important;
}

#mainTaskDiv .content .taskGroup .taskRow4{
    width: 190px !important;
    padding-left: 100px !important;
}

#mainTaskDiv .content .task .taskRow1{
    width: 260px;
    padding-left: 30px;
}

#mainTaskDiv .content .task .taskRow2{
    width: 230px;
    padding-left: 60px;
}

#mainTaskDiv .content .task .taskRow3{
    width: 200px;
    padding-left: 90px;
}

#mainTaskDiv .content .task .taskRow4{
    width: 170px;
    padding-left: 120px;
}

#newTaskSelection, #linkSelector, #newTaskGroup{
    height: fit-content;
    background: #313131;
    border-bottom-right-radius: 21px;
    width: fit-content;
    position: absolute;
    border: 2px solid #000000;
    padding: 5px 5px 10px;
}

#newTaskSelection .leftContent{
    float: left;
    width: 130px;
}

#newTaskSelection .rightContent{
    float: left;
    border-left: 1px solid #fff;
    padding-left: 5px;
}

.presetPicker{
    float: left;
    clear: left;
    margin-left: 5px;
    width: 115px;
    background: #fff;

}

#newTaskSelection a, #linkSelector a, #newTaskGroup a{
    clear: both;
    background: url(../images/plus.png) left center no-repeat;
    padding-left: 24px;
    padding-top: 2px;
    margin: 5px 5px;
    color: #fff;
    float: left;
}

#newTaskSelection .selectorAddPreset{
    cursor: default;
}

#newTaskSelection a:hover, #linkSelector a:hover, #newTaskGroup a:hover{
    color: #ffb2b2;
}

#newTaskSelection .selectorCreatePreset{
    background: url(../images/create.png) left center no-repeat;
    background-size: 15px;
}

#newTaskSelection .selectorDelete{
    background: url(../images/delete.png) left center no-repeat;
    background-size: 15px;
}

.closeSelector{
    height: 10px;
    width: 10px;
    position: absolute;
    cursor: pointer;
    left: 0;
    bottom: 0;
    background-image: url(../images/close_popup.png);
    background-size: 10px;
}

/* ///////// POP UPS /////////// */

#filterPopup, #taskUserPopup, #textPopup, #taskTimePopup{
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000000b3;
    display: none;
}

#textPopup .textPopupContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 225px;
    margin-top: -113px;
    margin-left: -175px;
    background-color: #e5e5e5;
    border-radius: 10px;
    border-color: #565656;
}

#textPopup .textPopupTaskTitle{
    float: left;
    width: 100%;
    height: 35px;
    line-height: 45px;
    color: #6b6b6b;
    text-align: center;
    clear: both;
    font-size: 20px;
}

#textPopup .textPopupEditingTitle{
    float: left;
    width: 100%;
    height: 26px;
    line-height: 25px;
    color: #c1c1c1;
    text-align: center;
    clear: both;
    font-size: 16px;
}

#textPopup textarea{
    resize: none;
    margin-left: 9px;
    width: 325px;
    height: 133px;
    display: block;
    background: #b5b5b5;
    border: 1px solid #636363;
}

#textPopup button{
    border-radius: 20px;
    border: 1px solid #000;
    height: 40px;
    width: 110px;
    font-size: 18px;
    margin-top: 8px;
    color: #fff;
    margin-left: 80px;
    background: #00000069;
}

#textPopup hr{
    width: 90%;
}

#taskUserPopup .taskUserPopupContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 380px;
    height: 480px;
    margin-top: -240px;
    margin-left: -190px;
    background-color: #e5e5e5;
    border-radius: 10px;
    border-color: #565656;
}

#taskUserPopup .taskUserPopupTitle{
    float: left;
    width: 100%;
    height: 35px;
    line-height: 45px;
    color: #6b6b6b;
    text-align: center;
    clear: both;
    font-size: 20px;
}

#taskUserPopup .taskUserPopupSubTitle{
    float: left;
    width: 160px;
    margin-left: 30px;
    height: 26px;
    line-height: 25px;
    color: #c1c1c1;
    clear: both;
    font-size: 16px;
}

#taskUserPopup input{
    background-color: transparent;
    background-image: url(../images/search.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: right center;
    border: none;
    padding-right: 35px;
    float: left;
    text-align: right;
    height: 24px;
    width: 135px;
    font-weight: bold;
    color: #757575;
}

#taskUserPopup hr{
    width: 90%;
}

#taskUserPopup .userTab{
    float: left;
    width: 320px;
    height: 180px;
    margin-left: 35px;
    margin-bottom: 10px;
    overflow: auto;
}

#taskUserPopup .userDiv{
    width: 60px;
    height: 60px;
    float: left;
}

#taskUserPopup .userDiv .userIcon{
    width: 40px;
    height: 40px;
    background-color: #000;
    float: left;
    margin-left: 10px;
    margin-top: 3px;
    border-radius: 20px;
    cursor: pointer;
    background-size: 40px 40px;
    background-position: center;
}

#taskUserPopup .userDiv.selected .userIcon{
    border: 2px solid #44c54c;
    width: 36px;
    height: 36px;
}

#taskUserPopup .userDiv .userName{
    float: left;
    width: 100%;
    text-align: center;
    color: #565656;
    font-size: 12px;
    font-weight: bold;
    margin-top: 2px;
}

#taskUserPopup .tagTab{
    float: left;
    width: 345px;
    height: 180px;
    margin-left: 18px;
    margin-bottom: 10px;
    overflow: auto;
}

#taskUserPopup .tagTab .tagDiv{
    display: inline-block;
    padding: 3px 6px;
    background-color: #cf47ea;
    border-radius: 8px;
    border: 1px solid #a2a2a2;
    cursor: pointer;
}

#taskUserPopup .tagTab .tagDiv .tagChoosen{
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    background-repeat: no-repeat;
    float: left;
}

#taskUserPopup .tagTab .tagDiv.selected .tagChoosen{
    background-image: url(../images/status_atlas.png);
    background-size: 10px 80px;
    background-position-y: -70px;
}

#taskUserPopup .tagTab .tagDiv .tagName{
    float: left;
    margin-left: 4px;
    height: 12px;
    font-size: 12px;
    line-height: 14px;
}

#filterPopup .filterPopupContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 740px;
    height: 390px;
    margin-top: -190px;
    margin-left: -370px;
    background-color: #e5e5e5;
    border-radius: 10px;
    border-color: #565656;
}

#filterPopup .filterPopupContainer .rightBox{
    margin-left: 10px;
}

#filterPopup .filterPopupContainer .rightBox span{
    float: left;
    font-size: 18px;
    margin: 5px 10px 10px 15px;
    color: #757575;
}

#filterPopup .filterPopupContainer .rightBox select{
    float: left;
    height: 30px;
    border: none;
    border-bottom: 1px solid #9a9a9a;
    background: none;
}

#filterPopup .filterPopupContainer .rightBox button{
    float: left;
    margin-left: 55px;
    height: 30px;
    width: 100px;
}

#filterPopup .filterPopupContainer .frame{
    display: inline-block;
    float: left;
}

#filterPopup .filterPopupContainer .frame.full{
    width: 90%;
    margin: 0px 5%;
}

#filterPopup .filterPopupTitle{
    float: left;
    width: 100%;
    height: 35px;
    line-height: 45px;
    color: #6b6b6b;
    text-align: center;
    clear: both;
    font-size: 20px;
}

#filterPopup .filterPopupSubTitle{
    float: left;
    width: 160px;
    margin-left: 30px;
    height: 26px;
    line-height: 25px;
    color: #c1c1c1;
    clear: both;
    font-size: 16px;
}

#filterPopup input{
    background-color: transparent;
    background-image: url(../images/search.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: right center;
    border: none;
    padding-right: 35px;
    float: right;
    text-align: right;
    height: 24px;
    width: 135px;
    font-weight: bold;
    color: #757575;
}

#filterPopup hr{
    width: 90%;
}

#filterPopup .userTab{
    float: left;
    width: 320px;
    height: 130px;
    margin-left: 35px;
    margin-bottom: 10px;
    overflow: auto;
}

#filterPopup .userDiv{
    width: 60px;
    height: 60px;
    float: left;
}

#filterPopup .userDiv .userIcon{
    width: 40px;
    height: 40px;
    background-color: #000;
    float: left;
    margin-left: 10px;
    margin-top: 3px;
    border-radius: 20px;
    cursor: pointer;
    background-size: 40px 40px;
    background-position: center;
}

#filterPopup .userDiv.selected .userIcon{
    border: 2px solid #44c54c;
    width: 36px;
    height: 36px;
}

#filterPopup .userDiv .userName{
    float: left;
    width: 100%;
    text-align: center;
    color: #565656;
    font-size: 12px;
    font-weight: bold;
    margin-top: 2px;
}

#filterPopup .tagTab{
    float: left;
    width: 345px;
    height: 130px;
    margin-left: 18px;
    margin-bottom: 10px;
    overflow: auto;
}

#filterPopup .tagTab .tagDiv{
    display: inline-block;
    padding: 3px 6px;
    background-color: #cf47ea;
    border-radius: 8px;
    border: 1px solid #a2a2a2;
    cursor: pointer;
}

#filterPopup .tagTab .tagDiv .tagChoosen{
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    background-repeat: no-repeat;
    float: left;
}

#filterPopup .tagTab .tagDiv.selected .tagChoosen{
    background-image: url(../images/status_atlas.png);
    background-size: 10px 80px;
    background-position-y: -70px;
}

#filterPopup .tagTab .tagDiv .tagName{
    float: left;
    margin-left: 4px;
    /* width: 20px; */
    height: 12px;
    font-size: 12px;
}

#filterPopup .groupTab{
    height: 90px;
    margin-bottom: 10px;
    overflow: auto;
}

#filterPopup .groupTab .groupDiv{
    cursor: pointer;
    border-radius: 20px;
    float: left;
    display: inline-block;
    padding: 5px 10px;
    background: #d4d4d4;
    border: 1px solid #a7a7a7;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
}

#filterPopup .groupTab .groupDiv.selected{
    font-weight: bold;
}

#filterPopup .groupTab .groupDiv .groupChoosen{
    width: 10px;
    height: 10px;
    margin-top: 1px;
    margin-right: 3px;
    border: 1px solid #000;
    background-repeat: no-repeat;
    float: left;
}

#filterPopup .groupTab .groupDiv.selected .groupChoosen{
    background-image: url(../images/status_atlas.png);
    background-size: 10px 80px;
    background-position-y: -70px;
}

#deleteDocPopup{
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000000b3;
    display: none;
}

#deleteDocPopup .deleteDocContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 125px;
    margin-top: -73px;
    margin-left: -150px;
    background-color: #e5e5e5;
    border-radius: 10px;
    border-color: #565656;
}

#deleteDocPopup .deleteDocText {
    float: left;
    width: 100%;
    height: 42px;
    line-height: 45px;
    color: #6b6b6b;
    text-align: center;
    clear: both;
    font-size: 20px;
}

#deleteDocPopup .deleteDocElementTitle{
    float: left;
    width: 100%;
    height: 26px;
    line-height: 25px;
    color: #000000;
    text-align: center;
    clear: both;
    font-size: 22px;
}

#deleteDocPopup button:first-of-type{
    margin-left: 57px !important;
}

#deleteDocPopup button:hover{
    border-color: #000;
    color: #000;
}

#deleteDocPopup button{
    float: left;
    width: 60px;
    height: 35px;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 13px;
    color: #7f6b6b;
    border: 2px solid #9a9a9a;
    border-radius: 16px;
}

#taskTimePopup .container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 110px;
    margin-top: -55px;
    margin-left: -175px;
    background-color: #e5e5e5;
    border-radius: 10px;
    border-color: #565656;
}

#taskTimePopup .container .title{
    color: #6b6b6b;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
}

#taskTimePopup .container .subtitle{
    padding: 15px 20px;
    text-align: center;
    font-size: 14px;
}

#taskTimePopup .container .content{
    padding: 0px 95px;
}

#taskTimePopup .container .content input{
    width: 100px;
}

#taskTimePopup .container .content span{
    margin-left: 10px;
}

@media only screen and (max-width: 1600px) {
    #mainTaskDiv .content .taskGroup .groupBar {
        left: 320px;
        width: 765px;
    }

    #mainTaskDiv .content #categoryTab span {
        font-size: 12px;
        color: #42add7;
    }
    #mainTaskDiv .content .taskTab .categoryTask .taskNameInput {
        width: 240px;
        font-size: 12px;
    }
    #mainTaskDiv .content .task .taskUserAssigned {
        margin-left: 5px;
    }

    #mainTaskDiv .content .taskGroup .taskRow1, #mainTaskDiv .content .task .taskRow1 {
        width: 285px !important;
        padding-left: 5px !important;
    }
    #mainTaskDiv .content .taskGroup .taskRow1>.taskNameInput,#mainTaskDiv .content .task .taskRow1>.taskNameInput{
        width: 235px;
    }
    #mainTaskDiv .content .taskGroup .taskRow2, #mainTaskDiv .content .task .taskRow2 {
        width: 280px !important;
        padding-left: 10px !important;
    }
    #mainTaskDiv .content .taskGroup .taskRow2>.taskNameInput,#mainTaskDiv .content .task .taskRow2>.taskNameInput{
        width: 230px;
    }
    #mainTaskDiv .content .taskGroup .taskRow3, #mainTaskDiv .content .task .taskRow3 {
        width: 275px !important;
        padding-left: 15px !important;
    }
    #mainTaskDiv .content .taskGroup .taskRow3>.taskNameInput,#mainTaskDiv .content .task .taskRow3>.taskNameInput{
        width: 225px;
    }
    #mainTaskDiv .content .taskGroup .taskRow4, #mainTaskDiv .content .task .taskRow4 {
        width: 270px !important;
        padding-left: 20px !important;
    }
    #mainTaskDiv .content .taskGroup .taskRow4>.taskNameInput,#mainTaskDiv .content .task .taskRow4>.taskNameInput{
        width: 220px;
    }
    #mainTaskDiv .content .categoryStatus {
        width: 115px;
        margin-right: 5px;
    }
    #mainTaskDiv .content .categoryStatus div {
        margin: 3px 3px 0px 18px;
    }
    #mainTaskDiv .content .categoryPriority {
        width: 135px;
        margin-right: 5px;
    }
    #mainTaskDiv .content .categoryPriority .priorityIcon {
        margin: 2px 2px 0px 12px;
    }
    #mainTaskDiv .content .categorySprint {
        width: 95px;
        margin-right: 5px;
    }
    #mainTaskDiv .content .categorySprint div {
        margin: 4px 3px 0px 12px;
    }
    #mainTaskDiv .content .categoryMilestone {
        width: 85px;
        margin-right: 5px;
    }
    #mainTaskDiv .content .categoryMilestone .milestoneDate {
        font-size: 12px;
    }
    #mainTaskDiv .content .categoryReferences {
        width: 85px;
        margin-right: 5px;
    }
    #mainTaskDiv .content .categoryDrive {
        width: 55px;
        margin-right: 5px;
    }
    #mainTaskDiv .content .categoryInfo {
        width: 55px;
        margin-right: 5px;
    }
    #mainTaskDiv .content .categoryTime {
        width: 135px;
        margin-right: 5px;
    }
    #mainTaskDiv .content .categoryTime .timeUndefined {
        font-size: 12px;
    }
    #mainTaskDiv .content .categoryTime .setTime input {
        margin-left: 20px;
    }
    #mainTaskDiv .content .categoryTime .setTime span {
        float: left;
        margin-top: 0px;
        height: 100%;
        line-height: 25px;
    }
    #mainTaskDiv .content .categoryTime input {
        margin-left: 10px;
    }
    #mainTaskDiv .content .categoryTime div span {
        font-size: 12px;
    }
    #mainTaskDiv .content .categoryTime .countDiv .countTime {
        margin-left: 10px;
    }
    #mainTaskDiv .content .categoryPercentage {
        width: 135px;
    }
    #mainTaskDiv .content .taskGroup .categoryPercentage .percentageBarHolder {
        width: 100px;
    }
    #mainTaskDiv .content .categoryPercentage .percentageBarHolder {
        width: 60px;
    }

    .tasksDiv select {
        padding: 2px;
        font-size: 10px;
    }
}