.header_page_team{
    margin: 10px !important;
    padding-left: 450px !important;
}

#team .userCard{
    display: block;
    position: relative;
    float: left;
    width: 310px;
    height: 350px;
    background-color: #e5e5e5;
    margin: 10px 30px 0px;
    border-radius: 10px;
    border-color: #565656;
}

#team .base{
    display: none !important;
}

#team .userCard .userUploadBtn {
    width: 115px;
    display: block;
    margin: 0px auto;
}

#team .createUserIcon{
    float: left;
    width: 100%;
    height: 100%;
    background: url("../images/add_user.png") center center no-repeat;
    cursor: pointer;
}

#team .userCard:nth-child(4n+2){
    margin: 10px 30px 0px 135px;
}

#team .userCard .userIcon{
    width: 60px;
    height: 60px;
    background-color: #000;
    margin: 10px auto;
    border-radius: 91px;
    cursor: pointer;
    background-size: 60px 60px;
    background-position: center;
}

#team .userCard .userDelete{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background: url(../images/delete.png) center no-repeat;
    background-size: 20px;
    cursor: pointer;
}

#team .userCard .userCardTitle{
    float: left;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #6b6b6b;
    text-align: center;
    clear: both;
    font-size: 18px;
    background: none;
    border: none;
}

#team .userCard .userCardSubTitle{
    float: left;
    padding-left: 25px;
    height: 20px;
    line-height: 20px;
    color: #6b6b6b;
    text-align: center;
    clear: both;
    font-size: 14px;
    font-weight: bold;
}

#team .userCard .userCardContent{
    float: left;
    clear: both;
    padding-left: 25px;
    color: #949494;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    margin-bottom: 3px;
    line-height: 20px;
}

#team .userCard .roleInput, #team .userCard .emailInput,#team .userCard .passwordInput{
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    line-height: 17px;
    margin-bottom: 3px;
    width: 270px;
    padding: 0px;
    clear: both;
    float: left;
    margin-left: 25px;
    background: none;
    border: none;
    color: #949494;
}

#team .userCard hr{
    width: 90%;
    margin: 0px auto;
}

#deleteUserPopup{
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000000b3;
    display: none;
}

#deleteUserPopup .deleteUserContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 125px;
    margin-top: -73px;
    margin-left: -150px;
    background-color: #e5e5e5;
    border-radius: 10px;
    border-color: #565656;
}

#deleteUserPopup .deleteUserText {
    float: left;
    width: 100%;
    height: 42px;
    line-height: 45px;
    color: #6b6b6b;
    text-align: center;
    clear: both;
    font-size: 20px;
}

#deleteUserPopup .deleteUserElementTitle{
    float: left;
    width: 100%;
    height: 26px;
    line-height: 25px;
    color: #000000;
    text-align: center;
    clear: both;
    font-size: 22px;
}

#deleteUserPopup button:first-of-type{
    margin-left: 57px !important;
}

#deleteUserPopup button:hover{
    border-color: #000;
    color: #000;
}

#deleteUserPopup button{
    float: left;
    width: 60px;
    height: 35px;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 13px;
    color: #7f6b6b;
    border: 2px solid #9a9a9a;
    border-radius: 16px;
}

@media only screen and (max-width: 1600px) {
    #team .userCard:nth-child(4n+2), #team .userCard {
        margin: 10px 20px 0px;
    }
    #team .userCard {
        width: 280px;
    }
}